@{
  Layout = "_Layout";
}
<h1>Band Tracker</h1>
@foreach (var venue in Model)
{
  <h4>@venue.GetName() | Address: @venue.GetAddress()</h4>
}
<hr>
<a href="/">Back</a>
<br>
<a href="/venues/deleteAll">Delete all Venues</a>
