@{
  Layout = "_Layout";
}
<h1>Add a new band</h1>
<form method="post" action="/bands">
  <div class="form-group">
    <label for="band-name">Band Name: </label>
    <input type="text" name="band-name" class="form-control">
    <hr>
    <label for="band-description">Genre/Style: </label>
    <input id="band-description" type="text" name="band-description">
    <button type="submit" class="btn btn-primary">Add Band</button>
  </div>
</form>
<a href="/">Return Home</a>
